useDynLib("LVSmiRNA")

export(RLM,estVC,estVC.EList,estVC.RGList,lvs,lvs.EList,lvs.RGList,normalize.lvs,read.mir,summarize,summarize.EList,
       rlmFit,summarize.RGList)

importClassesFrom(limma, EList, RGList)
importClassesFrom(methods, ANY, list)
importMethodsFrom(affy, probeNames, updateMe)
importMethodsFrom(Biobase, exprs, "exprs<-", featureNames, preproc,
                  "preproc<-", sampleNames)
importMethodsFrom(BiocGenerics, as.data.frame, as.vector, boxplot,
                  colnames, do.call, duplicated, eval, get, lapply,
                  match, NROW, order, paste, rbind, rep.int, rownames,
                  sort, table, tapply, unique, unlist)
importMethodsFrom(SparseM, as.matrix, diag, diff, model.matrix,
                  model.response, solve, t)
importFrom(stats4, plot)
importMethodsFrom(vsn, ncol, nrow, predict, vsn2)
importFrom(graphics, lines, par)
importFrom(limma, protectMetachar)
importFrom(methods, as, new)
importFrom(quantreg, rq)
importFrom(stats, .getXlevels, approx, coef, fitted, is.empty.model,
           median, model.offset, quantile, smooth.spline)
importFrom(utils, read.table)
importFrom(vsn, vsnMatrix)
import(MASS)

export(boxplot)
exportMethods(exprs,"exprs<-",preproc,"preproc<-",sampleNames,featureNames,probeNames)

exportMethods(plot)
S3method(lvs, EList)
S3method(lvs, RGList)
S3method(summarize, EList)
S3method(summarize, RGList)
